.middleText {
    margin: 0 5px;
}

.logContainerOuter {
    height: 100%;
    position: relative;
}

.logContainerinner {
    width: 100%;
    position: absolute;
    top: -16px;
    bottom: 0;
    overflow: auto;
}

.form {
    margin: 0 -16px -16px;
}