
.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
}

.team {
    display: flex;
}

.board {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    padding: 0 1rem;
    max-width: 1100px;
}

.gameCardOuterWrapper {
    flex: 0 0 20%;
    height: 150px;
    cursor: pointer;
}