.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 7rem;
    margin: 0 0 2rem;
}

.subtitle {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 3rem;
}

.actions {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.label {
    display: none;
}

.input,
.button {
    margin-bottom: 10px;
}

.error {
    margin-top: 10px;
    color: rgb(209, 44, 44);
}

.lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    align-items: center;
}

.versus {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 3rem;
    margin: 0 5rem;
}

.users {
    position: absolute;
    top: 5%;
    right: 5%;
}

.startGame {
    margin-top: 20px;
}
